[Unit]
Description=Restart do-otelcol after configuration change
After=do-otelcol.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl try-restart do-otelcol.service
