[Unit]
Description=DigitalOcean Observability Supervisor
After=network.target

[Service]
Type=simple
User=do-obsd
ExecStart=/opt/digitalocean/bin/do-obsd
Restart=on-failure
RestartSec=5s
TimeoutStopSec=30s
WorkingDirectory=/opt/digitalocean
StandardOutput=journal
StandardError=journal

NoNewPrivileges=true
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
