[Unit]
Description=DigitalOcean OTel Contrib Collector
After=network-online.target do-obsd.service
Wants=network-online.target

[Service]
Type=simple
User=do-otelcol
ExecStart=/opt/digitalocean/bin/do-otelcol --config=file:///etc/do-otelcol/config.yaml
Restart=on-failure
RestartSec=5s
MemoryMax=256M
TimeoutStopSec=30s
WorkingDirectory=/opt/digitalocean
StandardOutput=journal
StandardError=journal

NoNewPrivileges=true
ProtectHome=true
PrivateTmp=true
ProtectSystem=strict
ReadOnlyPaths=/etc/do-otelcol

[Install]
WantedBy=multi-user.target
