receivers:
  journald:
    units: []
    priority: info
    start_at: end
    operators:
      - type: severity_parser
        parse_from: body.PRIORITY
        overwrite_text: true
        preset: none
        mapping:
          fatal:
            - "0" # emerg
            - "1" # alert
            - "2" # crit
          error: "3" # err
          warn: "4" # warning
          info:
            - "5" # notice
            - "6" # info
          debug: "7" # debug
      - type: copy
        from: body.SYSLOG_IDENTIFIER
        to: resource["service.name"]

processors:
  memory_limiter:
    check_interval: 1s
    # Soft limit (collector begins refusing data) = limit_mib - spike_limit_mib = 140 MiB.
    # Hard limit = limit_mib = 180 MiB.
    limit_mib: 180
    spike_limit_mib: 40
  batch/logs:
    send_batch_size: 1024
    send_batch_max_size: 2048
    timeout: 5s

exporters:
  otlp_grpc:
    endpoint: {{ .ExporterEndpoint }}
    headers:
      Host: insights-otlp.digitalocean.com
    tls:
      insecure: false
      server_name_override: insights-otlp.digitalocean.com
    compression: gzip
    sending_queue:
      enabled: true
      queue_size: 256
      num_consumers: 2
    retry_on_failure:
      enabled: true
      max_elapsed_time: 120s

service:
  pipelines:
    logs:
      receivers: [journald]
      processors: [memory_limiter, batch/logs]
      exporters: [otlp_grpc]
